@import url(http://fonts.googleapis.com/css?family=Satisfy);


body {
	padding:0;
	margin:0;
}

header {
	width:150px;
	height:100%;
	position: absolute;
	background-color: #3B3439;
	font-family: 'Satisfy', cursive;
	color:#D9444E;
	z-index: -1;
}

#name {
	margin-left: 20%;
	margin-top: 30%;
}

#container {
	float:right;
	position:absolute;
	top:10%;
	left:25%;
	border:2px solid;
	width:500px;
	height:400px;
}

canvas {
	width:auto;
	height:auto;
}

#buttons {
	margin-top:300px;
	margin-left: 50px;
	width:50px;
	height:50px;
	display: inline-block;
	z-index: 100;
}